@import "tailwindcss";

:root {
  --background: #f8f7f7;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
} */

body {
	background: var(--background)
}

 .slider::-webkit-slider-thumb {
   @apply appearance-none bg-neutral-200 h-5 w-[4px] rounded-full;
 }

 .group:hover .slider::-webkit-slider-thumb {
   @apply bg-neutral-300; 
 }

